@use "./abstracts/helper";
.team {
  &-sticky {
    // sticky table
    thead {
      position: sticky;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: white;
    }
    th {
      padding-block: 25px;
    }
  }
  &-email {
    font-size: 16px;
    color: helper.$black1;
  }
  &-action-remove {
    color: helper.$support;
    font-size: 14px;
    font-weight: 500;
    line-height: 143%;
    padding: 3px 16px;
    border-radius: 4px;
    position: relative;
    &:before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: inherit;
      background-color: currentColor;
      opacity: 0.1;
    }
  }
  &-table {
    width: 100%;
    overflow-x: auto;
    table {
      width: 100%;
      border-collapse: collapse;
      // border-spacing: 10px;
      white-space: nowrap;
    }
    // separate
    // td {
    //   border-bottom: 1px solid red;
    // }
    tr {
      // border-bottom: 1px solid helper.$graye4;
      // &:nth-child(odd){
      //   background-color: #eee;
      // }
      // &:nth-child(even) {
      //   background-color: white;
      // }
      // border-radius: 8px;
      @media (hover: hover) {
        &:hover td {
          background-color: #eee;
        }
      }
    }
    th {
      text-align: left;
      font-weight: 500;
      font-size: 14px;
      line-height: 143%;
      color: helper.$gray2;
      padding-bottom: 25px;
    }
    td {
      text-align: left;
      padding: 30px 0;
      font-size: 14px;
      font-weight: 500;
      color: helper.$gray1;
      --rounded: 12px;
      &:first-child {
        border-radius: var(--rounded) 0 0 var(--rounded);
      }
      &:last-child {
        border-radius: 0 var(--rounded) var(--rounded) 0;
      }
    }
    th,
    td {
      padding: 25px;
    }
    &.team-responsive {
      @include helper.screenMin(768px) {
        th,
        td {
          padding-inline: 25px;
          // &:not(:first-child) {
          //   padding-inline: 25px;
          // }
        }
      }
      @include helper.screenMax(767.98px) {
        thead {
          display: none;
        }
        tbody tr {
          display: grid;
          grid-template-columns: auto;
        }
        tbody td {
          display: grid;
          grid-template-columns: 60px minmax(0, 1fr);
          gap: 20px;
          &:before {
            content: attr(data-cell);
            text-transform: capitalize;
          }
        }
      }
    }
    // sticky horizontal
  }
}
.sticky-horizontal {
  tbody td,
  thead th {
    &:nth-child(1) {
      position: sticky;
      left: 0;
      top: 0;
      background-color: white;
      z-index: 5;
      transform: translateZ(0);
      backface-visibility: hidden;
    }
  }
}
