@use "../abstracts/helper";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 9;
  width: var(--sidebar-w);
  &-heading {
    padding: 0 21px;
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--gray84);
  }
  &-widget {
    --gap: 26px;
    &:after {
      content: "";
      display: block;
      height: 1px;
      background-color: helper.$graye9;
      margin-block: var(--gap);
    }
  }
}
.logo {
  display: block;
  margin-bottom: 44px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  &-link {
    display: flex;
    align-items: center;
    padding: 8px 30px 8px 20px;
    gap: 10px;
    font-size: 14px;
    font-weight: 500;
    color: var(--gray84);
    border-radius: 12px;
    &:hover {
      background-image: var(--gradient-primary);
      color: white;
      path[fill="#E5EAF1"] {
        fill: white;
        opacity: 1;
      }
      path[fill="#A5B4CB"] {
        fill: helper.$primary-4;
      }
    }
  }
  &-icon {
    flex: 0 0 24px;
  }
  // fill="#E5EAF1" -> hover -> white
  // fill="#A5B4CB" -> hover -> $primary-4
  // a[href^="https"]
}
