.wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}
.sidebar {
  flex: 0 0 256px;
  padding: 48px 30px;
  border-right: 1px solid var(--natural2);
}

.main {
  padding: 0 56px 84px;
  width: calc(100% - var(--sidebar-w));
  padding-top: var(--topbar-h);
  top: 30px;
  position: relative;
  margin-left: auto;
}
@media screen and (max-width: 767.98px) {
  .sidebar,
  .topbar {
    display: none !important;
  }
  .wrapper {
    display: block;
  }
  .main {
    padding: 24px;
    width: 100%;
  }
}
