extends ./views/layout.pug
append styles
  link(rel="stylesheet", href="./styles/home.css")
append vars
block main
  .home-wrapper
    .home-column
      include ./views/modules/home/_hosts
      include ./views/modules/home/_trending
      include ./views/modules/home/_feed
    .home-column