extends ./views/layout.pug
append styles
  link(rel="stylesheet", href="./styles/team.css")
block vars
  - var title = 'Team Page';
  - var n = 0;

block main
  .team-table
    table
      thead
        tr
          th
            +checkbox
          th Email
          th Role
          th Date
          th &nbsp;
          th &nbsp;
      tbody
        while n < 1
          tr
            td(data-cell="select")
              +checkbox
            td(data-cell="email")
              span.team-email uihutofficial@gmail.com
            td(data-cell="role") Producer
            td(data-cell="date") 16 Jul 2022
            td(data-cell="status") Can’t Resend yet
            td(data-cell="action")
              button.team-action-remove Remove invite

          - n++
      tfoot