extends ./views/layout.pug
append styles
  link(rel="stylesheet", href="./styles/topics.css")
block vars
  - var title = 'Topics Page';
block main
  a(href="#content") Content
  div(style="height: 100vh")
  div#content Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias natus repellat soluta commodi explicabo architecto odio labore eos, sapiente consequuntur illo dolorum accusamus temporibus modi totam expedita error quisquam odit!
  div(style="height: 100vh")
  .boxed evondev
  .section-heading Create New Episode
