include ./mixins/mixins.pug
block vars
  - var title = 'GocastUI';

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="./styles/main.css")
    block styles
  body
    .wrapper
      include ./sidebar.pug
      main.main
        include ./topbar.pug
        block main
      .responsive-menu
        each val in [1,2,3,4,5]
          .responsive-menu-item
            include ./icons/icon-menu.pug
