aside.sidebar
  a.logo(href="/")
    img.logo-image(srcset="./images/logo.png 2x", alt="gocast")
  .sidebar-section
    ul.menu
      +menuItem("/","Home", "./images/icon-dashboard.svg")
      +menuItem("/trending.html","Trending", "./images/icon-dashboard.svg")