.topbar
  a.topbar-logo(href="/")
    img.logo-image(srcset="./images/logo.png 2x", alt="gocast")
  .search
    img(src="./images/icon-search.svg" alt="search")
    p.search-text Search 2+ million podcasts and listeners
  .topbar-right
    button.button-upload
      span.button-upload-icon
        img(src="./images/icon-upload.svg")
      span Upload
    div
      img(srcset="./images/icon-message.png 2x", alt)
    div
      img(srcset="./images/icon-notification.png 2x", alt)
    .profile-avatar
      img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt)