.feed {
  &-section {
    container-type: inline-size;
    container-name: feedSection;
  }
  &-item {
    padding: 20px;
    border: 1px solid #f0f3f6;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    container-type: inline-size;
    container-name: feedItem;
  }
  &-image {
    flex: 0 0 152px;
    aspect-ratio: 1;
    overflow: hidden;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  &-content {
    flex: 1;
  }
  &-title {
    font-size: 14px;
    font-weight: 500;
    color: #1b1d21;
    margin-top: 6px;
    margin-bottom: 16px;
  }
  &-desc {
    font-size: 13px;
    line-height: 1.5;
  }

  @container feedSection (max-width: 500px) {
    &-item {
      flex-direction: column;
      gap: 16px;
    }
  }
  // @container style(--is-mobile: true) {
  //   &-image {
  //     display: none;
  //   }
  // }
  // @container feedItem (min-width: 800px) and style(--is-mobile: true) {
  //   &-image {
  //     display: none;
  //   }
  // }
}
