.input {
  background: #ffffff;
  border: 2px solid #e4e4e4;
  border-radius: 12px;
  padding: 12px;
  padding-left: calc(var(--pl) + var(--icon-size) + var(--gap));
  width: 308px;
  transition: border 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
  &:disabled {
    background-color: #eee;
    cursor: not-allowed;
  }
  &:valid {
    border-color: #20e3b2;
  }
  &:invalid {
    border-color: #ff6651;
  }
  &-wrapper {
    --pl: 12px;
    --icon-size: 24px;
    --gap: 12px;
    display: inline-block;
    width: 300px;
    position: relative;
    svg {
      position: absolute;
      left: var(--pl);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: var(--icon-size);
    }
  }
  // &:focus {
  //   border-color: #f62682;
  // }
  // &-wrapper {
  // &:has(input:focus) {
  // }
  // }
}
