mixin menuItem(href, title, icon)
  li.menu-item
    a.menu-link(href= href)
      span.menu-icon
        case icon
          when "icon-chart"
            include ../icons/icon-chart
          when "icon-graph"
            include ../icons/icon-graph
          when "icon-cube"
            include ../icons/icon-cube
          when "icon-user"
            include ../icons/icon-user
      span= title

mixin hostItem(image, name, bg)
  li.host-item
    .host-avatar(style=`--color: ${bg}`)
      img(src= image, alt)
    span.host-name= name

mixin checkbox
  label.checkbox-label
    input(type="checkbox", class="checkbox-input")
    .checkbox
      include ../icons/icon-check

mixin toggle
  label.toggle-label
    input(type="checkbox", class="toggle-input")
    .toggle
      .toggle-spinner

mixin dropdown
  .dropdown
    .dropdown-select
      span Last 7 days
      include ../icons/icon-cheveron
    .dropdown-list
      each val in [1,2,3]
        .dropdown-item Last 7 days

mixin spinner
  .spinner

mixin upload
  label.upload
    input(type="file", name="" hidden)
    include ../icons/icon-upload
    p.upload-title Drag and drop or browse to choose a file
    p.upload-caption PNG, JPG and Gif files are allowed