mixin menuItem(href, title, icon)
  li.menu-item
    a.menu-link(href= href)
      span.menu-icon
        case icon
          when "icon-chart"
            include ../icons/icon-chart
          when "icon-graph"
            include ../icons/icon-graph
          when "icon-cube"
            include ../icons/icon-cube
          when "icon-user"
            include ../icons/icon-user
      span= title

mixin hostItem(image, name, bg)
  li.host-item
    .host-avatar(style=`--color: ${bg}`)
      img(src= image, alt)
    span.host-name= name

mixin checkbox
  label.checkbox-label
    input(type="checkbox", class="checkbox-input")
    .checkbox
      include ../icons/icon-check

mixin toggle
  label.toggle-label
    input(type="checkbox", class="toggle-input")
    .toggle
      .toggle-spinner
