.feed-section
  .feed-item
    .feed-image
      img(src="https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1452&q=80", alt="")
    .feed-content
      .feed-caption Perspective Podcast (Ep. 1)
      .feed-title Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
      .feed-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...
  .feed-item(style="--is-mobile: true;")
    .feed-image
      img(src="https://images.unsplash.com/photo-1616588589676-62b3bd4ff6d2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2064&q=80", alt="")
    .feed-content
      .feed-caption Perspective Podcast (Ep. 1)
      .feed-title Philosophy vs Religion vs Science: Yahia Amin and Sadman Sadik
      .feed-desc Play Philosophy vs Religion vs Science: Perspective Podcast (Ep. 1) | Yahia Amin and Sadman Sadik by PERSPECTIVE with Yahia Amin on desktop and mobile. Play over 265 million tracks for...