* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
select,
textarea,
button {
  font: inherit;
  border: none;
  outline: none;
  background-color: transparent;
}

.section-heading {
  font-weight: 600;
  font-size: 16px;
  color: var(--black1);
  line-height: 1.5;
}

.spinner {
  width: 20px;
  height: 20px;
  border-radius: 100rem;
  border: 4px solid #fff;
  animation: loader 1s infinite linear;
  border-top: 4px solid transparent;
}

@keyframes loader {
  to {
    transform: rotate(360deg);
  }
}
#content {
  scroll-margin-top: var(--topbar-h);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-image: var(--gradient-primary);
  border-radius: 100rem;
}

#content::first-letter {
  color: red;
  font-size: 30px;
}

#content::first-line {
  color: blue;
}

::selection {
  background-color: orange;
  color: white;
}

div:empty {
  display: none;
}

.boxed {
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 12px;
  width: clamp(300px, 50vw, 600px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 40px;
  box-shadow: inset 1px -1px 11px 0px #ccc;
}

.section-heading {
  font-weight: 600;
}

:root {
  --natural: #676a6f;
  --natural1: #f8f8f8;
  --natural2: #f0f3f6;
  --gray84: #8494ab;
  --gradient-primary: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  --primary: #6c5dd3;
  --black1: #1b1d21;
  --black-primary: #232333;
  --gray1: #5f6164;
  --gray2: #a6a7b2;
  --grayfc: #fcfcfc;
  --icon-color: #a5b4cb;
  --sidebar-w: 256px;
  --topbar-h: 96px;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #5f6164;
  overflow-x: hidden;
}

:where(h1, h2, h3, h4, h5, h6) {
  font: inherit;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}
.button--primary {
  background-color: var(--primary);
  color: var(--grayfc);
}

.checkbox {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1.5px solid #a6a7b2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a6a7b2;
}
.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox {
  background-color: #6c5dd3;
  color: white;
  border-color: #6c5dd3;
}

.toggle {
  width: 30px;
  height: 17px;
  border-radius: 100rem;
  background-color: #eee;
  cursor: pointer;
  padding: 1.5px 2px;
}
.toggle-spinner {
  width: 14px;
  aspect-ratio: 1;
  background-color: white;
  border-radius: inherit;
  transition: transform 0.25s ease;
}
.toggle-input {
  display: none;
}
.toggle-input:checked + .toggle {
  background: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
}
.toggle-input:checked + .toggle .toggle-spinner {
  transform: translateX(12px);
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}
.dropdown-select {
  padding: 12px 20px;
  gap: 30px;
  border-radius: 16px;
  background: #f8f8f8;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  color: #a6a7b2;
  font-size: 15px;
  font-weight: 500;
}
.dropdown-list {
  --top: 20px;
  --radius: 16px;
  border-radius: var(--radius);
  background: #f8f8f8;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin-top: var(--top);
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
  z-index: 5;
}
.dropdown-list:before {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  height: var(--top);
  transform: translateY(-100%);
}
.dropdown-item {
  padding: 12px 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.dropdown-item:first-child {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}
.dropdown-item:last-child {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.dropdown-item:hover {
  color: white;
  background-color: purple;
}

.input {
  background: #ffffff;
  border: 2px solid #e4e4e4;
  border-radius: 12px;
  padding: 12px;
  padding-left: calc(var(--pl) + var(--icon-size) + var(--gap));
  width: 308px;
  transition: border 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}
.input:disabled {
  background-color: #eee;
  cursor: not-allowed;
}
.input:valid {
  border-color: #20e3b2;
}
.input:invalid {
  border-color: #ff6651;
}
.input-wrapper {
  --pl: 12px;
  --icon-size: 24px;
  --gap: 12px;
  display: inline-block;
  width: 300px;
  position: relative;
}
.input-wrapper svg {
  position: absolute;
  left: var(--pl);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--icon-size);
}

.wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}

.sidebar {
  flex: 0 0 256px;
  padding: 48px 30px;
  border-right: 1px solid var(--natural2);
}

.main {
  padding: 0 56px 84px;
  width: calc(100% - var(--sidebar-w));
  padding-top: var(--topbar-h);
  top: 30px;
  position: relative;
  margin-left: auto;
}

@media screen and (max-width: 767.98px) {
  .sidebar,
  .topbar {
    display: none !important;
  }
  .wrapper {
    display: block;
  }
  .main {
    padding: 24px;
    width: 100%;
  }
}
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 9;
  width: var(--sidebar-w);
}
.sidebar-heading {
  padding: 0 21px;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--gray84);
}
.sidebar-widget {
  --gap: 26px;
}
.sidebar-widget:after {
  content: "";
  display: block;
  height: 1px;
  background-color: hsl(213, 33%, 94%);
  margin-block: var(--gap);
}

.logo {
  display: block;
  margin-bottom: 44px;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.menu-link {
  display: flex;
  align-items: center;
  padding: 8px 30px 8px 20px;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray84);
  border-radius: 12px;
}
.menu-link:hover {
  background-image: var(--gradient-primary);
  color: white;
}
.menu-link:hover path[fill="#E5EAF1"] {
  fill: white;
  opacity: 1;
}
.menu-link:hover path[fill="#A5B4CB"] {
  fill: hsl(248, 58%, 76%);
}
.menu-icon {
  flex: 0 0 24px;
}

.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: white;
  position: fixed;
  top: 0;
  left: var(--sidebar-w);
  right: 0;
  z-index: 9;
  padding: 24px 56px;
  height: var(--topbar-h);
}

.topbar-logo {
  display: none;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.topbar-right > * {
  flex-shrink: 0;
}

.search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  background-color: #f0f3f6;
  border-radius: 12px;
  flex: 0 1 360px;
}
.search-input {
  flex: 1;
  font-weight: 500;
  font-size: 15px;
  color: #6c5dd3;
  line-height: 1.4666666667;
}
.search-input::-webkit-input-placeholder {
  color: #a6a7b2;
}
.search-input::-moz-input-placeholder {
  color: #a6a7b2;
}

/* button-upload */
.button-upload {
  gap: 6px;
  padding: 0 16px;
  height: 48px;
  position: relative;
  transition: all 0.5s ease;
}
.button-upload:hover {
  opacity: 0.85;
}

.profile-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100rem;
}

.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

/*# sourceMappingURL=main.css.map */
