:root {
  --natural: #676a6f;
  --natural1: #f8f8f8;
  --natural2: #f0f3f6;
  --gray84: #8494ab;
  --gradient-primary: linear-gradient(92.29deg, #415ef4 0.33%, #7141ef 28.14%);
  --primary: #6c5dd3;
  --black1: #1b1d21;
  --black-primary: #232333;
  --gray1: #5f6164;
  --gray2: #a6a7b2;
  --grayfc: #fcfcfc;
  --icon-color: #a5b4cb;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../fonts/IBMPlexSans-Bold.ttf");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: var(--black1);
  overflow-x: hidden;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  font: inherit;
}
/* general */
.section-heading {
  font-weight: 600;
  font-size: 16px;
  color: var(--black1);
  line-height: calc(24 / 16);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
}
.button--primary {
  background-color: var(--primary);
  color: var(--grayfc);
}
/* Structure */
.wrapper {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
}
.sidebar {
  flex: 0 0 256px;
  padding: 48px 30px;
  border-right: 1px solid var(--natural2);
}
.main {
  flex: 1;
  padding: 0 56px 84px;
}

/* Sidebar */
.sidebar-section:not(:last-child) {
  padding-bottom: 26px;
  margin-bottom: 26px;
  border-bottom: 1px solid var(--natural2);
}
.sidebar-title {
  padding: 0 21px;
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: 400;
  color: var(--gray84);
}
.logo {
  display: block;
  margin-bottom: 44px;
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.menu-link {
  display: flex;
  align-items: center;
  padding: 8px 30px 8px 20px;
  gap: 10px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray84);
  border-radius: 12px;

  /* transition: all 0.2s linear; */
}
.menu-link:hover {
  /* active - hover */
  background-image: var(--gradient-primary);
  color: white;
}
.menu-icon {
  flex: 0 0 24px;
}
.path-1,
.path-2 {
  fill: var(--icon-color);
}
.path-2 {
  opacity: 0.7;
}
.menu-link:hover .path-1 {
  fill: #a79ee5;
}
.menu-link:hover .path-2 {
  fill: white;
  opacity: 1;
}
/* Topbar */
.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  margin-bottom: 30px;
  gap: 20px;
}
.topbar-logo {
  display: none;
}
.topbar-right {
  display: flex;
  align-items: center;
  gap: 24px;
}
.topbar-right > * {
  flex-shrink: 0;
}
.search {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 20px;
  background-color: #f0f3f6;
  border-radius: 12px;
  flex: 0 1 360px;
}
.search-text {
  font-weight: 500;
  font-size: 15px;
  color: #a6a7b2;
  line-height: calc(22 / 15);
}
/* button-upload */
.button-upload {
  display: flex;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 600;
  gap: 6px;
  padding: 0 16px;
  background-color: var(--primary);
  border-radius: 8px;
  height: 48px;
}
.profile-avatar {
  width: 48px;
  height: 48px;
  border-radius: 100rem;
}
.profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
/* Main */
.main-container {
  display: flex;
  align-items: flex-start;
  gap: 60px;
  flex-wrap: wrap;
}
.left-content {
  flex: 2;
}
.right-content {
  flex: 1;
}
/* Popular host */
.host {
  margin-bottom: 28px;
}
.host-heading {
  margin-bottom: 20px;
}
.host-list {
  display: flex;
  align-items: flex-start;
  gap: 31px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}
.host-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  line-height: calc(20 / 14);
  color: var(--gray1);
  flex: 0 0 70px;
}
/* .host-item:nth-child(1) .host-avatar {
} */

.host-avatar {
  width: 64px;
  height: 64px;
  border-radius: 100rem;
  object-fit: cover;
  box-shadow: 0 0 0 3px white, 0 0 0 6px #ffabc6;
  overflow: hidden;
  background-color: #ffabc6;
}
/* Trending */
.trending {
  margin-bottom: 36px;
}
.trending .section-heading {
  margin-bottom: 11px;
}
.trending-banner {
  background-color: var(--natural1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
}
.trending-content {
  flex: 1 0 310px;
}
.trending-heading {
  max-width: 276px;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(32 / 22);
  margin-bottom: 11px;
}
.trending-heading span {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: var(--gradient-primary);
}
.trending-title {
  font-size: 14px;
  margin-bottom: 4px;
  color: var(--natural);
  display: block;
}
.trending-credit {
  color: var(--natural);
  margin-bottom: 20px;
  font-size: 14px;
}
.trending-author {
  color: var(--black-primary);
}
.trending .button {
  padding: 8px 14px;
}
.slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.slider-dot-item {
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: var(--gray2);
  cursor: pointer;
}
.slider-dot-item.is-active {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.243007), 0 0 0 4px #ffabc6;
  pointer-events: none;
}
/* Feed */
.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  gap: 20px;
}
.feed-tab {
  display: flex;
}
.feed-tab-item {
  font-size: 14px;
  font-weight: 500;
  line-height: calc(20 / 14);
  color: var(--gray1);
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid currentColor;
}
.feed-tab-item.is-active {
  color: var(--primary);
}
.feed-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  color: var(--gray1);
  font-weight: 500;
}
.toggle {
  width: 30px;
  height: 17px;
  border-radius: 100rem;
  background-image: var(--gradient-primary);
  padding: 1.5px 2px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.toggle-spinner {
  width: 14px;
  height: 14px;
  border-radius: 100rem;
  background-color: white;
}
/* Feed item */
.feed-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.feed-item {
  border: 1px solid var(--natural2);
  border-radius: 10px;
}
.feed-item-header {
  padding: 20px 20px 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feed-profile {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}
.feed-profile-avatar {
  width: 48px;
  height: 48px;
  flex: 0 0 48px;
}
.feed-profile-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100rem;
}
.feed-profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.feed-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  flex-wrap: wrap;
}
.feed-rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 2px;
}
.feed-time,
.feed-name span {
  color: var(--gray2);
}
.feed-time {
  font-size: 14px;
}
/* feed-item-main */
.feed-item-main {
  padding: 20px;
  border-bottom: 1px solid var(--natural2);
  border-top: 1px solid var(--natural2);
  display: flex;
  align-items: center;
  gap: 20px;
}
.feed-thumb {
  flex: 0 0 152px;
  aspect-ratio: 1;
}
.feed-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.feed-content {
  flex: 1;
}
.feed-episode {
  font-size: 14px;
  line-height: 20px;
  color: var(--gray2);
  margin-bottom: 6px;
}
.feed-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.43;
  color: var(--black1);
  margin-bottom: 12px;
}
.feed-time {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 143%;
  color: var(--gray2);
  margin-bottom: 16px;
}
.feed-time-item {
  display: flex;
  align-items: center;
  gap: 4px;
}
.feed-desc {
  font-size: 13px;
  line-height: 149%;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
/* feed-footer */
.feed-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.feed-item-footer .button {
  padding: 8px 14px;
}
.feed-actions {
  display: flex;
  align-items: center;
  gap: 19px;
}
/* right-content */
.widget-item {
  margin-bottom: 40px;
}
.widget-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.widget-view-all {
  font-size: 13px;
  font-weight: 500;
  color: var(--gray2);
}
.widget-view-all:hover {
  color: var(--primary);
}
.podcast-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.postcast-item {
  aspect-ratio: 1;
  width: 74px;
}
.postcast-item:nth-child(2) {
  order: 1;
}
.podcast-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
/* follow */
.follow-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.follow-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.follow-user {
  display: flex;
  align-items: center;
  gap: 13px;
}
.follow-avatar {
  flex: 0 0 46px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 2px white, 0 0 0 3px #ffd0e0;
  border-radius: 6px;
}
.follow-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.follow-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.follow-name {
  font-weight: 500;
  font-size: 15px;
  line-height: 147%;
}
.follow-username {
  font-size: 13px;
  color: var(--gray2);
  line-height: 149%;
}
.follow-button {
  line-height: 147%;
  height: 34px;
  padding: 0 18px;
}
.followed-button {
  border: 2px solid #e5eaf1;
  border-radius: 8px;
  color: var(--icon-color);
}
/* @media screen and (min-width: breakpoint){} */
/* @media screen and (max-width: breakpoint - 0.02){} */
/* @media screen and (max-width: 1023.98px){} */
/* @media screen and (min-width: breakpoint1) and (max-width: breakpoint2){} */
/* @media screen (min-width: breakpoint1), (max-width: breakpoint2){} */
/* breakpoints:
320, 414, 768, 1024, 1200, 1280, 1366, 1440, 1600, 1920...
*/
/* min-width: >=1024px */
/* max-width: <= 1024px */
@media screen and (max-width: 1023.98px) {
  .sidebar {
    display: none;
  }
  .main {
    padding-inline: 24px;
  }
  .main-container {
    gap: 30px;
  }
  .slider-dots,
  .trending-image {
    display: none;
  }
  .trending {
    margin-bottom: 14px;
  }
  .trending-banner {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767.98px) {
  .topbar {
    padding: 20px 0;
    margin-bottom: 10px;
  }
  .topbar-logo {
    display: inline-block;
  }
  .topbar-right > *:not(.profile-avatar),
  .topbar .search {
    display: none;
  }
  .main-container,
  .wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: unset;
  }
  .host-heading {
    margin-bottom: 14px;
  }
  .host-wrapper {
    overflow: hidden;
  }
  .host-list {
    gap: 12px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 12px 0;
  }
  .host-list {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .host-list::-webkit-scrollbar {
    display: none;
  }
  .host-avatar {
    width: 45px;
    height: 45px;
  }
  /* feed */
  .feed-header {
    margin-bottom: 13px;
  }
  .feed-tab-item {
    padding-inline: 6px;
    font-size: 13px;
    color: var(--gray2);
  }
  .feed-toggle span {
    display: none;
  }
  .feed-item-header {
    padding: 20px 14px 16px;
  }
  .feed-profile-info {
    max-width: 200px;
  }
  .feed-rating {
    margin-left: 0;
  }
  .feed-item-main {
    flex-direction: column;
    padding: 20px 14px;
    gap: 16px;
  }
  .feed-thumb {
    width: 100%;
    height: 152px;
  }
  .feed-item-footer .button {
    font-size: 14px;
    padding-inline: 16px;
  }
  /* podcast */
  .podcast-list {
    gap: 10px;
  }
}
