.entry-title a {
  color: black;
}
.wp-wrapper .gallery .container .list .entry-content .text p {
  color: black;
}
/* 1 */
#container .entry-title a {
  color: orange;
}
/* 1 1 1 */
/* 0 1 3 */
/* 2 */
html body .entry-title a {
  color: blue;
}
html body .wp-wrapper .gallery .container .list .entry-content .text p {
  color: pink;
}
.header-heading div p a {
  color: black;
}

.header-heading a {
  color: orange;
}
